.vscode/**
.vscode-test/**
.github/**
.gitignore
.gitattributes
vsc-extension-quickstart.md
src/**
test/**
tools/**
out/**
node_modules/**
package-lock.json
tsconfig.json
esbuild.mjs
**/*.map
**/*.ts
.npm-cache/**
examples/**
*.vsix
